body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19835 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:107px;
  width:404px;
  height:666px;
}
#u19836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u19838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u19839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19840 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:169px;
  width:373px;
  height:605px;
}
#u19841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19842 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:129px;
  width:373px;
  height:40px;
  color:#666666;
}
#u19843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19844 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:139px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u19846 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:136px;
  width:28px;
  height:28px;
}
#u19847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u19849 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:108px;
  width:374px;
  height:22px;
}
#u19850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19851 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:127px;
  width:373px;
  height:647px;
  overflow:hidden;
  visibility:hidden;
}
#u19851_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19851_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:646px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:646px;
}
#u19853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:315px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:373px;
  height:45px;
  font-size:14px;
}
#u19855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u19856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:511px;
  width:373px;
  height:43px;
  font-size:14px;
}
#u19857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u19858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:553px;
  width:373px;
  height:40px;
  font-size:14px;
}
#u19859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u19860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u19860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:373px;
  height:1px;
}
#u19861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u19862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:552px;
  width:373px;
  height:1px;
}
#u19863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:601px;
  width:373px;
  height:45px;
  font-size:14px;
}
#u19865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u19866 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:149px;
  width:0px;
  height:0px;
}
#u19866_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u19866_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u19867 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19868 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:138px;
  width:308px;
  height:16px;
}
#u19869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u19870 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:226px;
  width:0px;
  height:0px;
}
#u19870_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u19870_seg1 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-9px;
  width:18px;
  height:18px;
}
#u19871 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19872 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:185px;
  width:1px;
  height:16px;
}
#u19873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19874 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:263px;
  width:0px;
  height:0px;
}
#u19874_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:360px;
  height:8px;
}
#u19874_seg1 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:-4px;
  width:8px;
  height:51px;
}
#u19874_seg2 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:39px;
  width:59px;
  height:8px;
}
#u19874_seg3 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:34px;
  width:18px;
  height:18px;
}
#u19875 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19876 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:298px;
  width:211px;
  height:16px;
}
#u19877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u19878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u19879 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:180px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u19880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u19881_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:14px;
}
#u19881 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:182px;
  width:2px;
  height:11px;
}
#u19882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19883 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:255px;
  width:71px;
  height:16px;
  color:#666666;
}
#u19884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19885 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:244px;
  width:360px;
  height:1px;
}
#u19886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19887_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u19887 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:134px;
  width:30px;
  height:30px;
}
#u19888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u19889 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:361px;
  width:90px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u19890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19891 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:360px;
  width:90px;
  height:16px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u19893 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:281px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u19894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u19895 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:281px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u19896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19897 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:217px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
  text-align:right;
}
#u19899 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:217px;
  width:99px;
  height:16px;
  color:#FF9966;
  text-align:right;
}
#u19900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u19901 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:217px;
  width:15px;
  height:17px;
}
#u19902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u19903 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:179px;
  width:57px;
  height:17px;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u19904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19905 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:206px;
  width:360px;
  height:1px;
}
#u19906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u19908 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:397px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u19909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u19910_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:14px;
}
#u19910 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:399px;
  width:2px;
  height:11px;
}
#u19911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19912 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:472px;
  width:71px;
  height:16px;
  color:#666666;
}
#u19913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19914 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:461px;
  width:360px;
  height:1px;
}
#u19915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u19916 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:578px;
  width:90px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u19917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19918 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:577px;
  width:90px;
  height:16px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u19920 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:498px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u19921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u19922 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:498px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u19923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19924 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:434px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
  text-align:right;
}
#u19926 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:434px;
  width:99px;
  height:16px;
  color:#FF9966;
  text-align:right;
}
#u19927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u19928 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:434px;
  width:15px;
  height:17px;
}
#u19929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u19930 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:396px;
  width:57px;
  height:17px;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u19931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19932 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:423px;
  width:360px;
  height:1px;
}
#u19933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19934_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u19934 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:211px;
  width:30px;
  height:30px;
}
#u19935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19936 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:219px;
  width:309px;
  height:16px;
}
#u19937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u19938_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u19938 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:291px;
  width:30px;
  height:30px;
}
#u19939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
