body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:838px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u20482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u20483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20484 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:169px;
  width:373px;
  height:605px;
}
#u20485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20486 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:129px;
  width:373px;
  height:40px;
  color:#666666;
}
#u20487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20488 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:139px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u20490 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:136px;
  width:28px;
  height:28px;
}
#u20491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u20493 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:108px;
  width:374px;
  height:22px;
}
#u20494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20495 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:127px;
  width:373px;
  height:647px;
  overflow:hidden;
  visibility:hidden;
}
#u20495_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20495_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:646px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:646px;
}
#u20497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:315px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:373px;
  height:45px;
  font-size:14px;
}
#u20499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u20500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:511px;
  width:373px;
  height:43px;
  font-size:14px;
}
#u20501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u20502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:553px;
  width:373px;
  height:40px;
  font-size:14px;
}
#u20503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u20504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u20504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:373px;
  height:1px;
}
#u20505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u20506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:552px;
  width:373px;
  height:1px;
}
#u20507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:601px;
  width:373px;
  height:45px;
  font-size:14px;
}
#u20509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u20510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20511 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:180px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u20512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20513_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:14px;
}
#u20513 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:182px;
  width:2px;
  height:11px;
}
#u20514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20515 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:255px;
  width:71px;
  height:16px;
  color:#666666;
}
#u20516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u20517 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:244px;
  width:360px;
  height:1px;
}
#u20518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u20519 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:361px;
  width:90px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u20520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20521 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:360px;
  width:90px;
  height:16px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u20523 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:281px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u20524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u20525 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:281px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u20526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20527 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:217px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
  text-align:right;
}
#u20529 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:217px;
  width:71px;
  height:16px;
  color:#FF9966;
  text-align:right;
}
#u20530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u20531 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:217px;
  width:15px;
  height:17px;
}
#u20532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u20533 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:179px;
  width:57px;
  height:17px;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u20534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u20535 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:206px;
  width:360px;
  height:1px;
}
#u20536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20538 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:397px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u20539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20540_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:14px;
}
#u20540 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:399px;
  width:2px;
  height:11px;
}
#u20541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20542 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:472px;
  width:71px;
  height:16px;
  color:#666666;
}
#u20543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u20544 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:461px;
  width:360px;
  height:1px;
}
#u20545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u20546 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:578px;
  width:90px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u20547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20548 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:577px;
  width:90px;
  height:16px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u20550 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:498px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u20551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:74px;
}
#u20552 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:498px;
  width:62px;
  height:73px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#515151;
}
#u20553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20554 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:434px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
  text-align:right;
}
#u20556 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:434px;
  width:85px;
  height:16px;
  color:#FF9966;
  text-align:right;
}
#u20557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u20558 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:434px;
  width:15px;
  height:17px;
}
#u20559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u20560 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:396px;
  width:57px;
  height:17px;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FF9966;
}
#u20561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u20562 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:423px;
  width:360px;
  height:1px;
}
#u20563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20564 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:118px;
  width:320px;
  height:60px;
  font-size:14px;
}
#u20565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  word-wrap:break-word;
}
#u20566 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:148px;
  width:0px;
  height:0px;
}
#u20566_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u20566_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20567 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
