.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._流程形状 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.line {
}
._流程-圆形 {
  color:#FFFFFF;
}
._流程-矩形 {
}
._正向流程-实线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._正向流程-虚线 {
  font-size:16px;
}
._逆向流程-实线 {
  font-size:16px;
}
._逆向流程-虚线 {
  font-size:16px;
}
._流程-菱形 {
}
.flow_shape {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._连接线1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._连接线2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._连接线3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._注释连接线 {
}
._图片 {
}
.button {
}
.marker {
  color:#FFFFFF;
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.web--___ {
}
.radio_button {
  text-align:left;
}
.link_button {
  color:#169BD5;
}
.icon {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.ellipse {
}
._图片1 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.html_button {
  text-align:center;
}
.checkbox {
  text-align:left;
}
.image {
}
._权大师前端-按钮样式1 {
  color:#FFFFFF;
}
._权大师前端-按钮样式3 {
  font-size:14px;
  color:#FF9966;
}
.button_normal_primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#76A9E0;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._图片2 {
  color:#000000;
}
._形状 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._垂直线 {
}
.table_cell {
}
._权大师前端-按钮样式2 {
  color:#FF9966;
}
.droplist {
  color:#000000;
  text-align:left;
}
.arrow {
}
._形状1 {
}
._单选按钮 {
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._图片3 {
  color:#000000;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._已上传文件样式 {
  font-size:28px;
  color:#999999;
}
._营销醒目按钮 {
  font-size:16px;
  color:#FFFFFF;
}
._连接线11 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
