body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u14477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u14478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u14479 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:665px;
}
#u14480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:600px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14481 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:172px;
  width:374px;
  height:600px;
}
#u14482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u14483 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:406px;
  width:280px;
  height:38px;
  font-size:14px;
}
#u14484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:276px;
  word-wrap:break-word;
}
#u14485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14485 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:336px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u14487 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:247px;
  width:80px;
  height:79px;
}
#u14488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:91px;
}
#u14489 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:500px;
  width:374px;
  height:91px;
}
#u14490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
